<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:p="http://www.springframework.org/schema/p"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!--This is our Bean-->
    <bean class="org.springcore.Student" name="student1" p:studentId="2345" p:studentName="Vikash" p:studentCity="Bihar"/>

    <!--This is our Second Bean-->
    <bean class="org.springcore.Student" name="student2" p:studentId="1000" p:studentName="Random" p:studentCity="Delhi"/>


</beans>